import React from 'react';

import css from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => {
return (
<div className={css['vrst-{{dashCase name}}']}>
  <h1>{{upperCase name}}</h1>
</div>
)
}

export default {{pascalCase name}};
